html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
}

mark {
  background-color: unset;
  color: #c01000;
  font-weight: bold;
}

a {
  color: #0070f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0070f3;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #87aade;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: auto;
  padding-bottom: auto;
  height: 80px;
  /*box-shadow: 0 0 10px 0 #00000050;*/
  align-content: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.text-input {
  font-size: large;
  border: 1px solid #00000080;
  border-radius: 4px;
  padding: 3px;
}

.text-input:focus {
  border-color: #0070f3;
}

#login-username {
  width: 20ch
}

#login-password {
  width: 28ch;
}

.text-input-label {
  font-size: 14px;
}

.input-with-label {
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
}

.primary-button {
  background-color: #87aade;
  box-shadow: 0 0 3px 1px #00000050;;
  border: 2px solid #87aade;
  min-height: 40px;
  min-width: 150px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16pt;
  border-radius: 10px;
}

.primary-button:hover {
  border: 2px solid #6881a8;
}

.primary-button:active {
  box-shadow: none;
  border: 2px solid #87aade;
}

.primary-button-disabled {
  background-color: #c0c0c0;
  box-shadow: 0 0 3px 1px #00000050;;
  border: 2px solid #c0c0c0;
  min-height: 40px;
  min-width: 150px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16pt;
  border-radius: 10px;
  color: white;
}

.full-width{
  width: 100%
}

.mini-profile-nomobile {
  float: right;
  display: flex;
  flex-direction: row;
  width: 12em;
  height: 30px;
  margin-top: 4px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mini-profile-mobile {
  display: none;
}

.mini-profile-container-mobile {
  display: none;
}

.logged-in-as {
  margin-right: 5px;
}

.profile-picture {
  display: inline-block;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.username-logged-in {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 5px;
}

.logout-button {
  background-color: #ffffff;
  border: none;
  min-height: 16px;
  min-width: 80px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14pt;
  border-radius: 6px;
}

.logout-button:hover {
  background-color: rgb(213, 229, 255);
}

.logout-button:active {
  background-color: rgb(110, 134, 173);
}

.page-selector {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
}

.page-selector-prev {
  margin-right: 10px;
}

.no-top-space {
  margin-top: 0;
  padding-top: 0;
}

.no-bottom-space {
  margin-bottom: 0;
  padding-bottom: 0;
}

.space-right {
  margin-right: 10px;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.only-show-mobile {
  display: none;
}

.right {
  float: right;
}

.center {
  /*margin-top: auto;
  margin-bottom: auto;
  padding-top: auto;
  padding-bottom: auto;*/
  align-self: center;
  vertical-align: middle;
}

.center-content {
  padding-top: auto;
  padding-bottom: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
}

.red-debug {
  background-color: #ff0000;
}

.green-debug {
  background-color: #00ff00;
}

.blue-debug {
  background-color: #0000ff;
}

/*@media screen and (orientation: portrait) {*/
@media (max-width: 600px) {
  .header {
    height: 120px;
  }

  .input-with-label {
    margin-bottom: 10px;
    display: block;
  }

  .text-input {
    font-size: large;
    border: 1px solid #00000080;
    border-radius: 8px;
    padding: 10px;
  }

  #login-username {
    width: 28ch
  }

  .no-show-mobile {
    display: none;
  }

  .only-show-mobile {
    display: initial;
  }

  .page-selector-prev {
    margin-right: 0;
  }

  .page-selector-next {
    float: right;
  }

  .mini-profile-nomobile {
    display: none;
  }

  .mini-profile-mobile {
    display: inline-flex;
    flex-direction: row;
    height: 32px;
    width: 75%;
    margin-top: 4px;
    margin-bottom: 4px;
    align-items: center;
    justify-content: flex-start;
    vertical-align: middle;
  }

  .logout-button {
    float: right;
    margin-top: 6px;
  }

  .mini-profile-container-mobile {
    display: block;
  }
  
}
